@import url(/css/styles.css);
@import url(/css/product_listing.css);

.top-heading {
  margin: 2rem;
}

.product-listing-products {
  justify-content: flex-start;
}

.flex-row .nav-items {
  width: 30rem;
}

.logo a:hover {
  cursor: pointer;
}
